*{
    transition: all 500ms ease;
}

.login-section-background{
    position: relative;
}
.login-section-background::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../../public/login-blured-wave-background.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position:right;
    z-index: -1;
    transition: all 1s ease;
}
@media (min-width: 990px)and (max-width:1388px) {
    .login-section-background:before {
        background-position:calc(100% - 30%) center;
    }
    
}


.login-success-animation {
    background-size: cover;
    animation: success-color 2.3s ease-in;
}

@keyframes success-color {
    0% {
        background-size:  100%;
        background-position: 60% 80%;
    }
    50% {
        background-position: calc(100% -  20%) 90%;
    }
    100% {
        background-size: 400%;
        background-position: 90% 100%;
    }
}
