.list-group-item:hover{
    background-color: rgba(88, 184, 252, 0.364);
    cursor: pointer;
    
}

.list-group-item:focus {
    background-color: rgba(161, 161, 161, 0.422);
}



.text-soft-black{
    color: rgb(72, 72, 72);
}

.text-dark-gray{
    color: rgb(87, 87, 87);
}
.notread{
    background-color: rgba(78, 175, 244, 0.396);
}
