.login-registration-container {
  min-height: 70vh;
}

.content-container {
  height: max-content;
}

.custom-transition {
  transition: all 1s ease-in-out;
}

.welcome {
  font-weight: bolder;
}

.content {
  font-size: smaller;
}
