.edit svg {
    transform: rotate(90deg);
}
.edit{
    background-color: rgb(255, 255, 255);
}
.edit:hover{
    background-color: rgb(220, 220, 220);
}


.nb-requests{
    color: #689F63;
}

.nb-users{
    color: #3573C7;
}

.nb-banned-users{
    color: #D63939;
}

.requests{
    border: none;
    border-bottom: .2rem solid #689F63;
}

.users{
    border: none;
    border-bottom:.2rem solid #3573C7;
}

.banned-user{
    border: none;
    border-bottom:.2rem solid #D63939;
}

.super-admin{
    background-color: #85B2FF;
}
.manager{
  background-color: #B4C7E7;  
}
.tl{
    background-color: #EADBC8;
}
.dev{
    background-color: #D1D8C5;
}