*{
    transition: all 500ms ease;
}
.register-section-background {
    position: relative;
}

.register-section-background:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../../public/login-wave-background.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position:right;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
    transition: all 1s ease;

}
@media (min-width: 990px)and (max-width:1276px) {
    .register-section-background:before {
        background-position:calc(100% - 30%) center;
    }
    
}
