.confirm-modal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.confirm-modal-header{
    background-color: #275EBD;
    color: aliceblue;
}
