.custom-radio-label.checked {
  box-shadow: 0 0 10px 3px #66afe9;
}
.custom-radio-label {
  box-shadow: none;
}

.checkbox-label {
  display: inline-block;
  cursor: pointer;
}

.read-only {
  pointer-events: none;
  opacity: 0.6;
}
