.list {
    list-style-type: none;
  }
  
  .item:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .sublist {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  
  .sublist-open {
    max-height: 100px;
  }
  