.my-modal {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: azure;
  }
  
  .full-height-modal-content {
    height: 100vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  
  .full-height-modal-content .modal-body {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  
  .modal-alert {
    background-color: #206bc4;
  }
  .alert-content {
    font-size: smaller;
  }
  