
.edit-project{
    background-color: transparent;
  }
  .edit-project:hover{
    background-color: rgba(217, 217, 217, 0.485);
  }
  
     
    
    .project-card {
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.182);
    }
    
    .project-card:hover {
      background-color: rgba(255, 255, 255, 0.665);
      cursor: pointer;
      box-shadow: 0 0 10px rgb(240, 173, 78,0.553);
    }
    
    