#skills-list {
    border: 2px solid #dce1e7;
    background-color: rgba(193, 244, 255, 10%);
  }
  
  #skills-list:focus {
    border-color: #dce1e7;
    background-color: rgba(243, 243, 243, 0.721);
    border-bottom-color: #088fc4;
    outline: none;
  }
  