.sidebar-container {
    background-color: #fbfafd;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: width 0.3s;
    overflow: auto;
  }
  
  .sidebar-container.open {
    width: calc(6rem * 3);
  }
  
  .custom-sidebar {
    height: 100%;
  }
  
  .sidebar-items:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2%;
  }
  
  .sidebar-items:hover .custom-hover-icon {
    background-color: #275ebd36;
    border-radius: 100%;
  }
  
  .sidebar-items:focus {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 2%;
  }
  
  .close-sidebar:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 7px;
  }
  .sidebar-label{
    text-decoration: none;
  }
  @media screen and (max-width: 728px) {
    .sidebar-container {
      background-color: #fbfafd;
      min-height: 100vh;
      z-index: 1010;
      top: 0;
      transition: width 0.3s;
    }
      
      .sidebar-container.open {
        width: 100%;
        position: fixed;
       
      }
      
      .custom-sidebar {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: #fbfafd;
      }
  }
  