.focus-blue-bottom-border {
    border: 2px solid #dce1e7;
  }
  
  .focus-blue-bottom-border:focus {
    border-color: #dce1e7;
    border-bottom-color: #265ebc;
    outline: none;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  