.focus-blue-bottom-border {
  border: 2px solid #dce1e7;
}

.focus-blue-bottom-border:focus {
  border-color: #dce1e7;
  border-bottom-color: #088fc4;
  outline: none;
  transition: all 500ms;
}

.form-control:focus {
  box-shadow: none;
}

.show-hide-password {
  color: #3d3d3d;
  background-color: transparent;
}

.show-hide-password:hover {
  background-color: rgb(230, 227, 227);
  color: black;
}
