.focus-blue-bottom-border {
    border: 2px solid #DCE1E7; 
    background-color: rgba(193, 244, 255, 10%);
}

.focus-blue-bottom-border:focus {
    border-color: #DCE1E7;
    background-color: rgba(243, 243, 243, 0.721);
    border-bottom-color: #088FC4;
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

