.user:hover{
    background-color: aqua;
}
.prev-button{
    background-color: #DFDFDF;
    cursor: pointer;
}

.prev-button:hover{
    background-color: #efefef;
}

.next-button{
    background-color: #DFDFDF;
    cursor: pointer;
}

.next-button:hover{
    background-color: #efefef;
}
