$soft-tertiary-color : #51A7B9;

.bg-soft-tertiary-color{
    background-color: rgba($color: $soft-tertiary-color, $alpha: .11);
}

$secondary-color : #83C4D2;
.soft-bg-secondary-color{
    background-color: rgba($color: $secondary-color, $alpha: .8);
}

$z-index-999 : 999;
.z-index-999{
    z-index: $z-index-999;
}

.border-none{
    border:none;
}

$primary-color : #088FC4;

.text-custom-primary{
    color: $primary-color;
}

.btn-primary-custom{
background-color:rgba($color: $primary-color, $alpha: .85);
}

$bold-primary-color:#6898C3;
.text-bold-primary-color{
color: $bold-primary-color;
}

$text-custom-color : #3d3d3d;
.text-custom-color{
    color: $text-custom-color;
}

$light-text-custom-color: #717171;
.light-text-custom-color{
    color: $light-text-custom-color;
}

