* {
  transition: all 300ms ease-in-out;
}

.line {
  height: 5px;
}

.edit-button:hover {
  background-color: rgba(113, 113, 113, 0.244);
  backdrop-filter: blur(5px);
}

.program-container {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.182);
}

.program-container:hover {
  background-color: rgba(241, 241, 241, 0.605);
  cursor: pointer;
  box-shadow: 0 0 10px rgb(24, 99, 41);
}

.program-container:hover .check-products {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.198);
  cursor: pointer;
}

.modal-full-height {
  height: 100vh;
}

.modal-body-full-height {
  flex: 1 1 auto;
}
